#app {
  display: flex;
  flex-direction: column;
}


/* ImageCard.css */

.poke-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
  }

.poke-card img {
  width: 100%;
}
/*   
  .image-container {
    flex: 1;
  } */
  
.card-image {
  width: 100%;
  height: 100%;
}

.card-content {
  flex: 1;
  padding: 10px;
}

.card-text h3 {
  margin-top: 0;
}

.card-text p {
  margin-bottom: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: -12px 10px 22px -2px rgba(0,0,0,0.43);
  display: flex;
  flex-direction: column;
  
}

.modal button {
  margin-right: 10px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Adjust the z-index if needed */
}

.modal img {
  height: 230px;

}

.modal h1 {
  color: black;
}

.modal .image-stats {
  display: flex;
  flex-direction: row;
  margin: 5%;
  justify-content: space-between;
  height: 230px;
}

.modal .stats {
  flex-direction: column;
}

.modal .fields-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.modal .buttons {
  display: flex;
  flex-direction: column;
}

.selects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ability { grid-area: 1 / 1 / 2 / 3; }
.move1 { grid-area: 2 / 1 / 3 / 2; }
.move2 { grid-area: 3 / 1 / 4 / 2; }
.move3 { grid-area: 3 / 2 / 4 / 3; }
.move4 { grid-area: 2 / 2 / 3 / 3; }